
.site-footer{
	background-color: $mainBlue;
	color: #fff;
	padding: 0.5rem 0rem;
	text-align: center;

	p{
		line-height: 1.4rem;
		font-weight: 200;

	}

	a{
		margin-left: 0rem;

		@mixin atMedium{
			margin-left: 2rem;
		}
	}

	&__text{
		display: block;
		padding-bottom: 1rem;

		@mixin atMedium{
			display: inline;
			padding-bottom: 0rem;
		}
	}
}	